<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Feebulari</title>
    <meta name="description" content="Publica y descubre ideas innovadoras.  Donde las ideas conectan con los creadores" />
    <meta name="googlebot" content="index, follow" />
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://fonts.googleapis.com/css?family=Spartan:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet"> 
    <link rel='stylesheet' type='text/css' media='screen' href='/styles.css'>
    <link rel="icon" href="../img/favicon.ico" name='hey'>
    <script src="./index.js" ></script>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168508087-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-168508087-1');
    </script>
    {# Google search console #}
    <meta name="google-site-verification" content="NKBRQFTFq_LSHvDivhW9lDN1wFkwAmIQ3VO2PxtYHxo" />
</head>
<body id="proponer">

{% block content %}{% endblock %}



<footer>
   <p3 class="font-contact">Contacto: feebulari@gmail.com</p3>
 </footer>

</body>
</html>
  
