   
   <html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Feebulari</title>
    {# Buscador de google #}
    <meta name="description" content="Publica y descubre ideas innovadoras.  Donde las ideas conectan con los creadores">
    <meta name="googlebot" content="index, follow">
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    {# Borrar caché #}
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <script src='index.js'></script>
    <link href="https://fonts.googleapis.com/css?family=Spartan:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet"> 
    <link rel='stylesheet' type='text/css' media='screen' href='/styles.css'>
    <link rel="icon" href="../img/favicon.ico" name='hey'>
     <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-168508087-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-168508087-1');
    </script>
    {# Google search console #}
    <meta name="google-site-verification" content="NKBRQFTFq_LSHvDivhW9lDN1wFkwAmIQ3VO2PxtYHxo" />
</head>
<body id="compartir-idea">
   
   <div   class="navbarSec">
    <div class="container_logo">
        <a class="container_logo" href="/"><img class="logo_size_navbar" src="/img/Logo2.png" type="submit"  alt="Logo"></img></a>
    </div>
    <button class="button_menu">
     <img type="button" class="img_menu" src="/img/menu.svg" alt="menú"></img> 
    </button> 
    <div class="nav_menu">
        <a href="/#ideas">
          <div class="container_items" type="url" href="#empresas">
            <p class="typo_navbar">Ideas</p>
          </div>
        </a>
        <a href="/#categorías">
          <div class="container_items">
              <p class="typo_navbar">Categorías</p></a>
          </div>
        </a>
        <a href="/#compartir-idea">
          <div class="container_items_large">
              <p class="typo_navbar">Compartir una idea</p></a>
          </div>
        </a>
     </div>   
  </div>  

{% block thing %}{% endblock %}



<footer>
   <p3 class="font-contact">Contacto: feebulari@gmail.com</p3>
   <p3 class="font-contact">
   <a href="/cookies" class="cookie_footer">Política de cookies</a>
   </p3>
 </footer>

</body>
</html>
   
   
   
   
   
   
   
   
   
   
   
