.input-one{
    display: block;
    margin: auto;
    margin-top: 14%;
    background-color: #F9F4F5;
    max-width: 200%;
    width: 80%;
    font-family: 'Spartan', sans-serif;
    @include respont-to ($media-moble-horizontal){
        width: 50%;
        margin-top: 5%;
        }
}
.tex-area {
    display: block;
    margin: auto;
    margin-top: 8%;
    max-width: 100%;
    width: 80%;
    height: 55%;
    background-color: #F9F4F5;
    font-family: 'Spartan', sans-serif;
    @include respont-to ($media-moble-horizontal){
        height: 77%;
        }
}

.input_search_company {
    display: flex;
    width: 25vw;
    height: 2vw;
    justify-content: center;
    align-items: center;
    align-self: center;
    border-bottom-left-radius: 0.5vw;
    border-top-left-radius: 0.5vw;
    @include respont-to ($media-moble-horizontal){
        width: 61vw;
        height: 9vw;
        font-size: 5vw;
        border-bottom-left-radius: 6px;
        border-top-left-radius: 6px;
      }
}

.text-area-rgb {
    display: block;
    margin: auto;
    margin-top: 5vw;
    width: 23vw;
    height: 15vw;
    font-family: 'Spartan', sans-serif;
    font-size: 1.2vw;
    padding: 0.5vw;
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 5px;
    // &:first-letter {
    //     text-transform: uppercase;
    //   }
    @include respont-to ($media-moble-horizontal){
        width: 80vw;
        height: 24vw;
        z-index: 6;
        background-color: #FFFFFF;
        font-size: 4.2vw;
        
      }
}

 


// .text-area-rgb font :first-letter{
//     text-transform: capitalize;
// }

.text-area-rgb:focus{
        background-color: rgba(255, 255, 255, 0.840);
        
}


.text-area-rgb-two {
    display: block;
    margin: auto;
    margin-top: 2vw;
    width: 21vw;
    height: 13vw;
    background-color: rgba(255, 255, 255, 0.651);
    border-radius: 5px;
    }